<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChichBong.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
				<key>dateExpires</key>
				<string>3/31/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BMPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Device.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PTCardTabBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ParallaxHeader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>QuickLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reusable.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftEntryKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ViewAnimator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FFD87C7FE7364CE55A5525D84554DE102B877B4</string>
						<key>dateExpires</key>
						<string>3/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>3C3TU2PG97.autm.syl.ChichBong.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>3C3TU2PG97</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>3C3TU2PG97.autm.syl.ChichBong.OneSignalNotificationServiceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>24ce3f6f-c585-462e-aa74-b52f5d7f830f</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: autm.syl.ChichBong.OneSignalNotificationServiceExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C3TU2PG97</string>
						<key>name</key>
						<string>Le Cuong</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3C3TU2PG97.autm.syl.ChichBong</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3C3TU2PG97</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ChichBong.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2b8f263b-ffdf-48bb-8273-676255749e77</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: autm.syl.ChichBong</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3C3TU2PG97</string>
				<key>name</key>
				<string>Le Cuong</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
